<!DOCTYPE html>
<html>
  <head>
    <title>DroneCorp - The Sky is Calling&trade;</title>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700'>
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Oswald:400,300'>
		<link rel='stylesheet' type='text/css' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
		<link rel='stylesheet' type='text/css' href='./styles.css' />
  </head>
	
  <body>
    <main>
      <article>
        <header>
					<div id="blog_title">
						<b>DRONE</b>CORP BLOG
					</div>
					<div id="blog_nav" class="altfont">
						ABOUT&nbsp;&nbsp;&nbsp;SEARCH <i class="fa fa-search fa-flip-horizontal"></i>
					</div>
					<div id="title">
						<b>DRONE</b>CORP
						<div id="subtitle">
						The Sky is Calling&trade;
						</div>
					</div>
        </header>
				<aside>
					<div class="img_large"></div>
					<div>
						<div class="highlight" style="font-size: 24px">Subservient Human</div>
						<a>Twitter</a>&nbsp;&nbsp;&nbsp;
						<a>Facebook</a>&nbsp;&nbsp;&nbsp;
						<a>Instagram</a>
					</div>
					<div id="ad"></div>
					<div id="ad_tag">
						<a>About This Ad</a>
					</div>
					<div class="aside_content">
						<h2 class="aside_title altfont">AMAZON PRIME: AERIAL FLEA MARKET OR AIRPLANE-THREATENING PROJECTILE?</h2>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</aside>
        <div id="content">
					<section>
						<h1 class="section_title altfont">WHY I SUBMIT TO MY DRONE OVERLORDS: A PERSONAL STORY</h1>
						<div class="section_subtitle">
							<div class="img_small"></div>
							<span class="highlight">Subservient Human</span>
							on <a>Friday, July 17 11:00am</a>
						</div>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<blockquote>
							PIZZA DELIVERED FROM THE SKY
						</blockquote>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/><br/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<div class="btns">
							<div class="btn">
								<div class="btn_dark"><i class="fa fa-comment"></i></div>
								Read Comments
							</div>
							<div class="btn">
								<div class="btn_dark"><i class="fa fa-cloud-upload"></i></div>
								Read Later
							</div>
							<div class="btn">
								<div class="btn_dark"><i class="fa fa-share"></i></div>
								Share This Post
							</div>
						</div>
					</section>				
				</div>
				<div id="footer">
					<div class="posts_title altfont">
						MOST POPULAR POSTS
					</div>
					<div id="posts_container">
						<div class="post" style="background-image: url(images/overlay.png), url(http://i.lvme.me/1g3f9k1.jpg)"><div class="text altfont">CHECK THIS POST</div></div>
						<div class="post" style="background-image: url(https://s-media-cache-ak0.pinimg.com/736x/b6/ab/b7/b6abb73a90c39a060f32eb3110f76e7a.jpg)"><div class="text altfont">SELECTED POST</div></div>
						<div class="post" style="background-image: url(images/overlay.png), url(http://fpvcentral.net/wp-content/uploads/2014/10/all-new-south-park-episode-the-magic-bush-premieres-to-night-10p.png)"><div class="text altfont">ANOTHER SEXY POST</div></div>
						<div class="post" style="background-image: url(images/overlay.png), url(https://pando-assets.s3.amazonaws.com/uploads/2013/12/drones_on_leash.jpg)"><div class="text altfont">WAIT FOR IT...A POST!</div></div>					
						<div id="copyright">
							&copy;<%= Time.now.year %> <b>DRONE</b>CORP
						</div>
					</div>
				</div>
      </article>
    </main>
  </body>
	
</html>